@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100..900,0..100;1,9..144,100..900,0..100&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-light-desaturated-cyan: hsla(167, 38%, 54%, 0.708);
  --clr-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-very-pale-gray: hsl(0, 0%, 98%);
  --clr-light-grayish-blue: hsl(210, 4%, 67%);
  --clr-light-grayish-blue-2: hsl(212, 33%, 89%);
  --clr-greyish-blue: hsl(232, 10%, 55%);
  --clr-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-very-dark-grayish-blue: hsl(216, 12%, 54%);
  --clr-white: hsl(0, 100%, 100%);
  --clr-white-transparent: hsla(0, 0%, 100%, 0.363);

  --ff-sans: "Barlow", sans-serif;
  --ff-serif: "Fraunces", serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-sans);
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--clr-very-dark-grayish-blue);
  background-color: var(--clr-light-grayish-blue-2);
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-serif);
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
  color: var(--clr-very-dark-desaturated-blue);
  margin-bottom: 1em;
  line-height: 1.2;
}

h3 {
  font-size: 1.55rem;
  margin-bottom: 1.4em;
  line-height: 1.3;
}

h4 {
  font-size: 1.1rem;
}

span {
  font-size: 0.7rem;
  font-weight: 700;
}

p {
  font-family: var(--ff-serif);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.5em;
}

button {
  font-family: var(--ff-serif);
  font-size: 1rem;
  font-weight: 900;
  padding: 0.75em 1.5em;
  border: none;
  cursor: pointer;
}

header {
  background: url(./images/mobile/image-header.jpg) no-repeat center/cover;
  height: auto;
  padding: 2em 1.5em;
  color: var(--clr-white);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
}

nav ul {
  position: absolute;
  top: 70px;
  left: 0;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  background: var(--clr-very-pale-gray);
  visibility: hidden;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

nav ul.active {
  height: auto;
  visibility: visible;
}

nav ul::after {
  content: "";
  position: absolute;
  top: -24px;
  right: 0;
  width: 0;
  height: 0;
  border-right: 24px solid transparent;
  border-bottom: 24px solid var(--clr-very-pale-gray);
  transform: rotate(-90deg);
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--clr-light-grayish-blue);
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
  color: var(--clr-light-grayish-blue-2);
}

nav ul li .contact-btn {
  padding: 0.5em 1em;
  border-radius: 1.5em;
  background: var(--clr-yellow);
  color: var(--clr-dark-blue);
}

header .heading-1 {
  margin-top: 1em;
  text-align: center;
}

header .arrow {
  display: block;
  margin: 1.2em auto 2em auto;
}

.transform,
.stand-out {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.transform-content,
.stand-out-content {
  padding: 3em 1.3em;
  text-align: center;
  background-color: var(--clr-white);
}

.learn-more {
  position: relative;
  font-family: var(--ff-serif);
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--clr-very-dark-desaturated-blue);
  cursor: pointer;
}

.learn-more::after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: -10%;
  width: 120%;
  height: 0.64em;
  border-radius: 0.5em;
  opacity: 0.3;
  transition: all 0.8s ease-in-out;
}

.learn-more:hover::after {
  opacity: 0.5;
}

.tr-btn::after {
  background-color: var(--clr-yellow);
}

.st-btn::after {
  background-color: var(--clr-soft-red);
}

.graphic-design {
  background: url(./images/mobile/image-graphic-design.jpg) no-repeat
    center/cover;
  height: auto;
}

.graphic-design-content,
.photography-content {
  padding: 20em 1.2em 2em;
  text-align: center;
}

.graphic-design-content {
  color: var(--clr-dark-desaturated-cyan);
}

.photography-content {
  color: var(--clr-dark-blue);
}

.heading-3 {
  font-weight: 900;
}

.photography {
  background: url(./images/mobile/image-photography.jpg) no-repeat center/cover;
  height: auto;
}

.testimonials {
  background-color: var(--clr-white);
  padding: 4em 1.5em;
  text-align: center;
}

.testimonials .header {
  margin-bottom: 2.5em;
  color: var(--clr-light-grayish-blue);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.testimonials-cards {
  display: grid;
  gap: 2.5em;
}

.testimonial-card {
  display: grid;
  gap: 0.4em;
}

.testimonial-card .avatar {
  margin: 0 auto 2em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.testimonial-card .heading-4 {
  color: var(--clr-very-dark-desaturated-blue);
}

.testimonial-card span {
  color: var(--clr-light-grayish-blue);
}

.gallerys {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

footer {
  background-color: var(--clr-light-desaturated-cyan);
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1.5em;
}

footer ul li a {
  color: var(--clr-dark-desaturated-cyan);
  font-weight: 700;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width > 768px) {
  .container {
    max-width: 1440px;
    padding: 0 2em;
  }

  header {
    background: url(./images/desktop/image-header.jpg) no-repeat center/cover;
  }

  header .heading-1 {
    margin-top: 1em;
    text-align: center;
  }

  nav ul {
    position: static;
    padding: 0.5em;
    transform: none;
    background: transparent;
    flex-direction: row;
    justify-content: end;
    gap: 2.5em;
    margin-bottom: 0;
    visibility: visible;
  }

  nav ul::after {
    display: none;
  }

  nav ul li a {
    flex-direction: row;
    color: var(--clr-white);
  }

  nav ul li .contact-btn {
    color: var(--clr-dark-blue);
    background: var(--clr-white);
    transition: all 0.5s cubic-bezier(0.42, 0, 0.66, 0.93);
  }
  nav ul li .contact-btn:hover {
    background-color: var(--clr-white-transparent);
  }

  .menu-btn {
    display: none;
  }

  header .arrow {
    margin: 2rem auto 2rem auto;
  }

  .transform,
  .stand-out {
    grid-template-columns: 1fr 1fr;
  }

  .transform {
    direction: rtl;
  }

  .transform-content,
  .stand-out-content {
    align-content: center;
    padding: 0.5em 6em;
    text-align: left;
  }

  .middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .graphic-design {
    background: url(./images/desktop/image-graphic-design.jpg) no-repeat
      center/cover;
    height: auto;
  }

  .photography {
    background: url(./images/desktop/image-photography.jpg) no-repeat
      center/cover;
    height: auto;
  }

  .testimonials-cards {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .testimonials {
    padding: 4em 4em;
  }
}
